.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

/* ------------------------------------------------- */
/* -------------- BODY ----------------------------- */
/* ------------------------------------------------- */
body {
    margin: 0;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}
h3 {
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
#header{
    box-shadow: 0px -7px 5px 10px rgba(0,0,0,0.20);
    position: relative;
    z-index: 2;
    background-color: white;
}
#logo {
    margin: 25px 0px 10px 0px;
    height: 40px;
}
#locate {
    background-color: #EAEAEA;
    color: rgb(73, 73, 73);
    z-index: 1;
}
.icons {
    margin-top: -5px;
    margin-right: 15px;
}
.bold {
    font-weight: bold;
}
.marg0 {
    margin: 1px;
}
/* ------------------------------------------------- */
/* -------------- FLEX ----------------------------- */
/* ------------------------------------------------- */
.flex {
    display: flex;
}

.jc__centre {
    justify-content: center;
}
.jc__f-start {
    justify-content: flex-start;
}
.jc__SpaceA {
    justify-content: space-around;
}
.jc__SpaceB {
    justify-content: space-between;
}

.ai__centre {
    align-items: center;
}
.ai__SpaceA {
    justify-content: space-around;
}
.ai__fstart {
    justify-content: flex-start;
}

.fd__Column{
    flex-direction: column;
}
/* ------------------------------------------------- */
/* -------------- main ----------------------------- */
/* ------------------------------------------------- */
.titre {
    font-family: 'Shrikhand', cursive;
    
}
.font-Roboto {
    font-family: 'Roboto', sans-serif;
}
.text-centre {
    text-align: center;
}
.size-80 {
    width: 80%;
}
h1{
    font-size: 28px;
    font-weight:bolder;
    margin: 40px 0px 0px 0px;
}
.color-grey {
    color: grey;
}
#section1 {
    background-color: #F6F6F6;
}
.Button-explore {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    box-shadow: 0px 6px 15px 1px rgba(0,0,0,0.23);
    border: 0px solid #0065FC;
    border-radius: 27.5px;
    width: 255px;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 65px;
    color: white;
	cursor: pointer;
    
}
.Button-explore:hover {
    filter: brightness(1.07);
    box-shadow: 0px 6px 15px 1px rgba(0,0,0,0.4);
    transition: 0.1s;
}
#section2 {
    background-color: #FFFFFF;
    height: 440px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2 {
    font-size: xx-large;
    font-weight: bolder;
}
.size-91 {
    width: 91%;
}
.size-100 {
    width: 100%;
}
.guide {
    background-color: #F6F6F6;
    box-shadow: 0px 6px 15px 1px rgba(0,0,0,0.23);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    height: 80px;
}
.guide:hover {
    background-color: #F5EDFF;
    box-shadow: 0px 6px 15px 1px #9256dc88;
    transition: 0.5s;
}
.circle {
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
}
.icons2 {
    margin-top: -5px;
    margin: auto 30px;
    width: 24px;
}
.color-pink {
    color: #9356DC;
}
.article1 {
    background-color: #F6F6F6;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
}
.Card-Resto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 4px 4px 11px -2px rgba(0,0,0,0.2);
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.Card-Resto:hover {
    box-shadow: 4px 4px 11px -2px #9356DC;
    transition: 0.2s;
}
.margB {
    margin-bottom: 30px;
}
.New {
    position: absolute;
    background-color: #99E2D0;
    border-radius: 3px;
    color: #139273;
    width: 80px;
    padding: 10px;
    margin: 15px;
}
.Info-Resto {
    padding-left: 50px;
}
.Name-Resto {
    font-size: large;
    margin: 10px;
    padding-left: 7px;
    padding-bottom: 25px;
    height: 50px;
}
.Name-Resto > h3 {
    margin: 5px auto 10px auto;
}
.img_restaurant1 {
    object-fit: cover;
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0px 0px;
}

footer {
    background-color: #353535;
    bottom: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-top: 0px;
}
footer > h3 {
    font-size: x-large;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
}
footer > a > p {
    font-size: larger;
    font-weight: 400;
    margin: 0px 0px;
    color: white;
}
footer > a {
    margin: 15px auto;
    color: white;
}
footer > a > i {
    margin-top: 3px;
    position: absolute;
    color: white;
}
.marg20 {
    margin-left: 38px;
}



@media screen and (min-width: 768px) {   /* VERSION TABLETTE */
    body {
        background-color: white;
    }
    #section2 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .article1 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .article1 > h2 {
        padding-left: 15px;
        
    }
    .article1 > div > div {
        display:  flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .Card-Resto {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 15px auto;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (min-width: 992px) {   /* VERSION PC Responsive */
    body {
        background-color: white;
    }
    #section2 {
        justify-content: center;
        align-items: center;
        height: auto; 
        margin: 0 auto;
    }
    #section2 > div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        
    }
    .guide {
        width: 25%;
        height: 60px;
    }
    .circle {
        min-width: 30px;
        min-height: 30px;

    }

    .article1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    .article1 > h2 {
        padding-left: 15px;
    }
    .article1 > div {
    width: 80%;
    }
    .article1 > div > div {
        display:  flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .Card-Resto {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #FFFFFF;
        border-radius: 15px;
        box-shadow: 4px 4px 11px -2px rgba(0,0,0,0.2);
        margin: 15px auto;
        margin-left: 15px;
        margin-right: 15px;
    }
    .Name-Resto {
        font-size: large;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: medium;
    }
    footer > h3 {
        margin-bottom: 0;
    }
    footer > a {
        margin: 5px auto;
        color: white;
    }
}