.Return-icon {
    position: absolute;
    margin-top: 30px;
    margin-left: 25px;
    z-index: 3;
}

.card_restaurant1 {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 0px 0px 0px 0px;
    z-index: 1;
}
main {
    h2 {
        margin-bottom: 5px;
    }
    h3 {
        font-weight: 500;
        margin-top: 35px;
        margin-left: 15px;
        
    }
    div {
        .heart-container {
            margin-right: 2%;
        }
    }
    .button_container {
        margin-top: 30px;
        background-color: #F6F6F6;
    }
}

.position_PC {
    position: relative;
    margin-top: -45px;
    background-color: #F6F6F6;
    border-radius: 40px 40px 0px 0px;

    z-index: 10;
    padding: 10px 15px;
}

section {



article {

    .line {
        display: flex;
        width: 50px;
        height: 4px;
        background-color: #99e2d0;
        margin-top: 5px;
        margin-left: 15px;
    }

    .card_menu::after {
        opacity: 1;
    }

    .card_menu {
        display: flex;
        justify-content: space-between;
        background-color: white;
        box-shadow: 0px 6px 15px 1px rgba(0,0,0,0.1);
        border-radius: 20px;
        padding: 15px 15px;
        margin: 15px auto;
        overflow: hidden;
        height: 50px;
        cursor: pointer;
        opacity: 0;
        animation: appear 1s forwards;
        


        h3 {
            font-weight: 700;
            margin-top: 0px;
            margin-left: 0px;
            max-width: 400px;
            height: 25px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .titre_repas {
            display:inline-block;
            overflow: hidden;
            max-width: 400px;
        }

        p {
            flex-direction: column;
            justify-content: flex-end;
            margin: 0;
            margin-top: 5px;
            max-width: 400px;
            height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .price {
            display: flex;
            flex-direction: row;
            font-weight: bold;
            padding-left: 5px;
            color: rgb(65, 65, 65);
        }

        .check {
            display: flex;
            background-color: #99E2D0;
            width: 80px;
            height: 80px;
            margin: 0;
            margin-top: -15px;
            margin-left: 25px;
            margin-right: -95px;
            padding: 0;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                width: 23px;
                height: 23px;
                margin: 27px;
                border-radius: 50%;
                color: #99E2D0;
                
            }
        }

    }
    .delay-1 {
        animation-delay: 0.1s;
    }
    .delay-2 {
        animation-delay: 0.2s;
    }
    .delay-3 {
        animation-delay: 0.3s;
    }
    .delay-4 {
        animation-delay: 0.4s;
    }
    .delay-5 {
        animation-delay: 0.5s;
    }
    .delay-6 {
        animation-delay: 0.6s;
    }
    .delay-7 {
        animation-delay: 0.7s;
    }
    .delay-8 {
        animation-delay: 0.8s;
    }
    .delay-9 {
        animation-delay: 0.9s;
    }
    .delay-10 {
        animation-delay: 1s;
    }
    .delay-11 {
        animation-delay: 1s;
    }
}
    div:hover {

        .check {
            display: flex;
            width: 80px;
            height: 80px;
            margin-right: -16px;
            transition-duration: 0.5s;
        }

        i {
            animation: rotation 0.5s forwards;
        }
    }


}

@keyframes rotation {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }


  @media screen and (min-width: 768px) {   /* VERSION TABLETTE */

    .position_PC {
        padding: 10px 40px;
    }

    footer {
        padding-left: 40px;
    }
  }

  @media screen and (min-width: 1024px) {   /* VERSION PC Responsive */

    .card_restaurant1 {
        height: 500px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .position_PC {
            
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: auto 20%;
            margin-top: -80px;

            section {
                display: flex;
                justify-content: center;

                article {
                    display: inline-block;
                    width: 33%;
                    
                    .card_menu {
                        margin: 15px 8px;

                        .price {

                            p {
                                margin-top: 30px;
                            }
                        }
                        
                    }
                }

            }
        }
    }
}


@keyframes  appear {

    0% {
        transform: translateY(50%); opacity: 0;
    }
    100% {
        transform: translateY(0%); opacity: 1;
    }
}


